In [172]:
import numpy as np 
import pandas as pd 
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
import matplotlib.pyplot as plt
import seaborn as sns

In [173]:
train_data = pd.read_csv(r"Data\train_data_binned.csv")
test_data = pd.read_csv(r"Data\test_data_binned.csv")

In [174]:
train_data

,Unnamed: 0.1,Unnamed: 0,id,Feature 1,Feature 2,Feature 3,Feature 4,Feature 5,Feature 6,Feature 7,...,Feature 19,Feature 20,Feature 21,Feature 22,Feature 23,Feature 24,Feature 25,Feature 26,price,bin
0,0,143728,143728,0.53,0,0,1,0,0,0,...,1,0,0,62.0,56.0,5.16,5.20,3.21,1656,2
1,1,52657,52657,0.50,0,1,0,0,0,0,...,0,0,0,63.8,56.0,4.89,5.02,3.18,1063,1
2,2,124407,124407,2.03,0,0,1,0,0,0,...,0,0,0,59.2,60.0,8.39,8.29,4.94,18508,3
3,3,45535,45535,0.33,0,0,1,0,0,0,...,1,0,0,61.5,55.0,4.41,4.47,2.73,723,1
4,4,178894,178894,0.90,0,1,0,0,0,0,...,1,0,0,63.6,59.0,6.04,6.08,3.86,3187,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135496,135496,34345,34345,0.70,0,1,0,0,0,1,...,0,0,0,63.3,57.0,5.65,5.61,3.56,2380,2
135497,135497,9899,9899,0.33,0,0,1,0,0,0,...,0,0,0,62.6,57.0,4.43,4.40,2.77,693,1
135498,135498,142454,142454,2.03,0,0,0,1,0,0,...,1,0,0,59.7,59.0,8.38,8.30,4.97,16068,3
135499,135499,129168,129168,0.73,0,1,0,0,0,0,...,1,0,0,63.2,59.0,5.67,5.72,3.61,2964,2
135500,135500,10470,10470,1.72,0,0,1,0,0,0,...,0,0,0,61.2,57.0,7.67,7.72,4.71,15847,3

In [175]:
col = list(train_data.columns)
col.remove('Unnamed: 0')
col.remove('Unnamed: 0.1')
col.remove('id')
col.remove('price')
col.remove('bin')
col.remove('Feature 2')
col.remove('Feature 3')
col.remove('Feature 4')
col.remove('Feature 5')
col.remove('Feature 6')
col.remove('Feature 11')
col.remove('Feature 15')
col.remove('Feature 18')
col.remove('Feature 19')
col.remove('Feature 20')
col.remove('Feature 21')
col

['Feature 1',
 'Feature 7',
 'Feature 8',
 'Feature 9',
 'Feature 10',
 'Feature 12',
 'Feature 13',
 'Feature 14',
 'Feature 16',
 'Feature 17',
 'Feature 22',
 'Feature 23',
 'Feature  24',
 'Feature 25',
 'Feature 26']

In [176]:
train_data['train-test'] = "train"
test_data['train-test'] = "test"

In [177]:
combined_df = pd.concat([train_data,test_data]).fillna('TBC')

In [178]:
scaler = MinMaxScaler()

combined_df["Feature 1"] = scaler.fit_transform(np.array(combined_df["Feature 1"]).reshape(-1,1))
combined_df["Feature 22"] = scaler.fit_transform(np.array(combined_df["Feature 22"]).reshape(-1,1))
combined_df["Feature 23"] = scaler.fit_transform(np.array(combined_df["Feature 23"]).reshape(-1,1))
combined_df["Feature  24"] = scaler.fit_transform(np.array(combined_df["Feature  24"]).reshape(-1,1))
combined_df["Feature 25"] = scaler.fit_transform(np.array(combined_df["Feature 25"]).reshape(-1,1))
combined_df["Feature 26"] = scaler.fit_transform(np.array(combined_df["Feature 26"]).reshape(-1,1))

In [179]:
df_group = combined_df.groupby(['train-test'])
train_data = df_group.get_group('train')
test_data = df_group.get_group('test')

In [180]:
train_data = train_data.drop('train-test',axis=1)
test_data = test_data.drop('train-test',axis=1)

In [181]:
test_data = test_data.drop('price',axis = 1)

In [182]:
train_data

,Unnamed: 0.1,Unnamed: 0,id,Feature 1,Feature 2,Feature 3,Feature 4,Feature 5,Feature 6,Feature 7,...,Feature 19,Feature 20,Feature 21,Feature 22,Feature 23,Feature 24,Feature 25,Feature 26,price,bin
0,0,143728,143728,0.100000,0,0,1,0,0,0,...,1,0,0,0.507692,0.233333,0.534715,0.519481,0.102556,1656.0,2
1,1,52657,52657,0.090909,0,1,0,0,0,0,...,0,0,0,0.600000,0.233333,0.506736,0.501499,0.101597,1063.0,1
2,2,124407,124407,0.554545,0,0,1,0,0,0,...,0,0,0,0.364103,0.366667,0.869430,0.828172,0.157827,18508.0,3
3,3,45535,45535,0.039394,0,0,1,0,0,0,...,1,0,0,0.482051,0.200000,0.456995,0.446553,0.087220,723.0,1
4,4,178894,178894,0.212121,0,1,0,0,0,0,...,1,0,0,0.589744,0.333333,0.625907,0.607393,0.123323,3187.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135496,135496,34345,34345,0.151515,0,1,0,0,0,1,...,0,0,0,0.574359,0.266667,0.585492,0.560440,0.113738,2380.0,2
135497,135497,9899,9899,0.039394,0,0,1,0,0,0,...,0,0,0,0.538462,0.266667,0.459067,0.439560,0.088498,693.0,1
135498,135498,142454,142454,0.554545,0,0,0,1,0,0,...,1,0,0,0.389744,0.333333,0.868394,0.829171,0.158786,16068.0,3
135499,135499,129168,129168,0.160606,0,1,0,0,0,0,...,1,0,0,0.569231,0.333333,0.587565,0.571429,0.115335,2964.0,2
135500,135500,10470,10470,0.460606,0,0,1,0,0,0,...,0,0,0,0.466667,0.266667,0.794819,0.771229,0.150479,15847.0,3

In [184]:
rf = RandomForestRegressor(n_estimators = 50, max_features = 0.8 , max_depth = 15, random_state = 18)

In [185]:
train_data_bin_1 = train_data.loc[train_data['bin'] == 1]
train_data_bin_1_input = train_data_bin_1[col]
train_data_bin_1_target = train_data_bin_1['price']

In [186]:
test_data_bin_1 = test_data.loc[test_data['bin'] == 1]
test_data_bin_1_input = test_data_bin_1[col]

In [187]:
test_data_bin_1_input

,Feature 1,Feature 7,Feature 8,Feature 9,Feature 10,Feature 12,Feature 13,Feature 14,Feature 16,Feature 17,Feature 22,Feature 23,Feature 24,Feature 25,Feature 26
3,0.030303,0,0,0,0,0,0,0,0,0,0.553846,0.300000,0.441451,0.429570,0.085942
4,0.009091,0,1,0,0,0,0,0,0,0,0.528205,0.300000,0.410363,0.397602,0.078914
5,0.030303,0,0,0,1,0,0,0,0,0,0.487179,0.266667,0.447668,0.429570,0.084665
8,0.066667,1,0,0,0,0,0,0,0,0,0.502564,0.233333,0.498446,0.477522,0.094888
11,0.036364,1,0,0,0,0,0,0,1,0,0.476923,0.333333,0.452850,0.442557,0.086262
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58051,0.066667,1,0,0,0,0,0,0,1,0,0.461538,0.233333,0.499482,0.485514,0.094249
58053,0.030303,0,0,0,1,0,0,0,0,0,0.487179,0.266667,0.445596,0.432567,0.084984
58056,0.036364,0,1,0,0,0,0,0,0,0,0.461538,0.233333,0.460104,0.438561,0.086262
58060,0.033333,0,1,0,0,0,0,0,0,0,0.482051,0.200000,0.454922,0.435564,0.085942
58063,0.030303,0,0,0,1,0,0,0,0,0,0.517949,0.233333,0.442487,0.428571,0.084984

In [188]:
rf.fit(train_data_bin_1_input,train_data_bin_1_target)

RandomForestRegressor(max_depth=15, max_features=0.8, n_estimators=50,
                      random_state=18)

In [189]:
test_pred_bin_1 = rf.predict(test_data_bin_1_input)

In [190]:
price_pred_bin_1 = pd.DataFrame({'id': test_data_bin_1.id, 'Price': test_pred_bin_1})

In [191]:
train_data_bin_2 = train_data.loc[train_data['bin'] == 2]
train_data_bin_2_input = train_data_bin_2[col]
train_data_bin_2_target = train_data_bin_2['price']

In [192]:
test_data_bin_2 = test_data.loc[test_data['bin'] == 2]
test_data_bin_2_input = test_data_bin_2[col]

In [193]:
train_data_bin_2_input

,Feature 1,Feature 7,Feature 8,Feature 9,Feature 10,Feature 12,Feature 13,Feature 14,Feature 16,Feature 17,Feature 22,Feature 23,Feature 24,Feature 25,Feature 26
0,0.100000,0,1,0,0,0,0,0,0,0,0.507692,0.233333,0.534715,0.519481,0.102556
4,0.212121,0,0,0,0,1,0,0,0,0,0.589744,0.333333,0.625907,0.607393,0.123323
6,0.242424,0,0,0,0,0,0,0,1,0,0.420513,0.333333,0.667358,0.650350,0.124281
7,0.154545,0,1,0,0,0,0,0,1,0,0.569231,0.300000,0.592746,0.565435,0.115016
11,0.115152,1,0,0,0,0,0,0,0,0,0.553846,0.166667,0.551295,0.535465,0.107348
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135492,0.154545,0,0,0,0,1,0,0,0,0,0.456410,0.266667,0.596891,0.580420,0.113099
135493,0.151515,0,0,0,0,0,0,0,0,0,0.430769,0.300000,0.598964,0.573427,0.111182
135495,0.151515,0,0,0,0,1,0,0,0,0,0.507692,0.233333,0.584456,0.573427,0.112780
135496,0.151515,1,0,0,0,0,0,0,0,1,0.574359,0.266667,0.585492,0.560440,0.113738
135499,0.160606,0,1,0,0,0,0,0,0,0,0.569231,0.333333,0.587565,0.571429,0.115335

In [194]:
rf.fit(train_data_bin_2_input,train_data_bin_2_target)

RandomForestRegressor(max_depth=15, max_features=0.8, n_estimators=50,
                      random_state=18)

In [195]:
test_pred_bin_2 = rf.predict(test_data_bin_2_input)

In [196]:
price_pred_bin_2 = pd.DataFrame({'id': test_data_bin_2.id, 'Price': test_pred_bin_2})

In [197]:
price_pred_bin_2

           id        Price
0      132523  3116.982521
1       70210  1398.739550
6      172800  2463.338791
13     147053  2687.477592
18      28064  2151.764183
...       ...          ...
58064   26736  2475.784321
58066   60718  1673.100591
58067   51474  4150.630197
58068   50296  2849.498204
58071  114675  2186.542372

[20116 rows x 2 columns]

In [198]:
train_data_bin_3 = train_data.loc[train_data['bin'] == 3]
train_data_bin_3_input = train_data_bin_3[col]
train_data_bin_3_target = train_data_bin_3['price']

In [199]:
test_data_bin_3 = test_data.loc[test_data['bin'] == 3]
test_data_bin_3_input = test_data_bin_3[col]

In [200]:
train_data_bin_3_input

,Feature 1,Feature 7,Feature 8,Feature 9,Feature 10,Feature 12,Feature 13,Feature 14,Feature 16,Feature 17,Feature 22,Feature 23,Feature 24,Feature 25,Feature 26
2,0.554545,0,0,0,1,0,0,0,0,1,0.364103,0.366667,0.869430,0.828172,0.157827
5,0.360606,0,0,0,1,0,0,0,0,0,0.476923,0.233333,0.749223,0.717283,0.141534
14,0.242424,0,1,0,0,0,0,0,0,0,0.374359,0.333333,0.670466,0.652348,0.123642
16,0.263636,0,1,0,0,0,0,0,0,1,0.548718,0.266667,0.676684,0.648352,0.130351
23,0.342424,0,0,0,1,0,0,0,0,0,0.543590,0.300000,0.721244,0.702298,0.139936
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135476,0.421212,0,0,1,0,0,0,0,1,0,0.523077,0.333333,0.775130,0.744256,0.148562
135486,0.551515,0,0,0,0,0,0,0,0,1,0.543590,0.233333,0.836269,0.799201,0.160703
135491,0.275758,0,0,0,0,1,0,0,0,0,0.558974,0.300000,0.688083,0.667333,0.134505
135498,0.554545,0,0,0,0,1,0,0,0,0,0.389744,0.333333,0.868394,0.829171,0.158786
135500,0.460606,0,1,0,0,0,0,0,1,0,0.466667,0.266667,0.794819,0.771229,0.150479

In [201]:
rf.fit(train_data_bin_3_input,train_data_bin_3_target)

RandomForestRegressor(max_depth=15, max_features=0.8, n_estimators=50,
                      random_state=18)

In [202]:
test_pred_bin_3 = rf.predict(test_data_bin_3_input)

In [203]:
price_pred_bin_3 = pd.DataFrame({'id': test_data_bin_3.id, 'Price': test_pred_bin_3})

In [204]:
price_pred_bin_3

           id         Price
2       93051   4774.234871
7      156638   6080.072580
9      189119   9222.558574
10      67623   5330.833839
12      12900  12920.550358
...       ...           ...
58059  161591   6110.387916
58062  179890  10646.440329
58065   72852   8817.138734
58069   95077   5137.626920
58070   71500   6080.563000

[18503 rows x 2 columns]

In [205]:
temp = pd.concat([price_pred_bin_1,price_pred_bin_2])

In [206]:
final = pd.concat([temp,price_pred_bin_3])

In [207]:
final

           id         Price
3       67325    596.901798
4      189522    496.166387
5      129949    768.877732
8      148555   1064.132550
11      11370    622.230463
...       ...           ...
58059  161591   6110.387916
58062  179890  10646.440329
58065   72852   8817.138734
58069   95077   5137.626920
58070   71500   6080.563000

[58072 rows x 2 columns]

In [169]:
final.to_csv('./Results/Result15.csv')