In [155]:
import numpy as np 
import pandas as pd 
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
import pickle

In [156]:
train_data_input = pd.read_csv(r'Data\traininput.csv')
targetvariable = pd.read_csv(r'Data\targetvariable.csv')

In [157]:
train_data_input

,Unnamed: 0,id,Feature 1,Feature 7,Feature 8,Feature 9,Feature 10,Feature 12,Feature 13,Feature 14,Feature 16,Feature 17,Feature 22,Feature 23,Feature 24,Feature 25,Feature 26
0,0,143728,0.100000,0,1,0,0,0,0,0,0,0,0.507692,0.233333,0.534715,0.519481,0.102556
1,1,52657,0.090909,0,0,0,0,0,1,0,1,0,0.600000,0.233333,0.506736,0.501499,0.101597
2,2,124407,0.554545,0,0,0,1,0,0,0,0,1,0.364103,0.366667,0.869430,0.828172,0.157827
3,3,45535,0.039394,0,1,0,0,0,0,0,0,0,0.482051,0.200000,0.456995,0.446553,0.087220
4,4,178894,0.212121,0,0,0,0,1,0,0,0,0,0.589744,0.333333,0.625907,0.607393,0.123323
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135496,135496,34345,0.151515,1,0,0,0,0,0,0,0,1,0.574359,0.266667,0.585492,0.560440,0.113738
135497,135497,9899,0.039394,0,0,0,0,1,0,0,0,0,0.538462,0.266667,0.459067,0.439560,0.088498
135498,135498,142454,0.554545,0,0,0,0,1,0,0,0,0,0.389744,0.333333,0.868394,0.829171,0.158786
135499,135499,129168,0.160606,0,1,0,0,0,0,0,0,0,0.569231,0.333333,0.587565,0.571429,0.115335
135500,135500,10470,0.460606,0,1,0,0,0,0,0,1,0,0.466667,0.266667,0.794819,0.771229,0.150479

In [158]:
train_data_input = train_data_input.drop('Unnamed: 0',axis = 1)
targetvariable = targetvariable.drop('Unnamed: 0',axis = 1)

In [159]:
train_data_input

,id,Feature 1,Feature 7,Feature 8,Feature 9,Feature 10,Feature 12,Feature 13,Feature 14,Feature 16,Feature 17,Feature 22,Feature 23,Feature 24,Feature 25,Feature 26
0,143728,0.100000,0,1,0,0,0,0,0,0,0,0.507692,0.233333,0.534715,0.519481,0.102556
1,52657,0.090909,0,0,0,0,0,1,0,1,0,0.600000,0.233333,0.506736,0.501499,0.101597
2,124407,0.554545,0,0,0,1,0,0,0,0,1,0.364103,0.366667,0.869430,0.828172,0.157827
3,45535,0.039394,0,1,0,0,0,0,0,0,0,0.482051,0.200000,0.456995,0.446553,0.087220
4,178894,0.212121,0,0,0,0,1,0,0,0,0,0.589744,0.333333,0.625907,0.607393,0.123323
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135496,34345,0.151515,1,0,0,0,0,0,0,0,1,0.574359,0.266667,0.585492,0.560440,0.113738
135497,9899,0.039394,0,0,0,0,1,0,0,0,0,0.538462,0.266667,0.459067,0.439560,0.088498
135498,142454,0.554545,0,0,0,0,1,0,0,0,0,0.389744,0.333333,0.868394,0.829171,0.158786
135499,129168,0.160606,0,1,0,0,0,0,0,0,0,0.569231,0.333333,0.587565,0.571429,0.115335
135500,10470,0.460606,0,1,0,0,0,0,0,1,0,0.466667,0.266667,0.794819,0.771229,0.150479

In [160]:
rf = RandomForestRegressor(n_estimators = 100, max_features = 'auto' , max_depth = 5, random_state = 18)

In [161]:
rf.fit(train_data_input, targetvariable)

C:\Users\harsh\AppData\Local\Temp\ipykernel_5708\1662704711.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(train_data_input, targetvariable)
c:\Users\harsh\anaconda3\envs\ml\lib\site-packages\sklearn\ensemble\_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(

RandomForestRegressor(max_depth=5, max_features='auto', random_state=18)

In [164]:
test_data = pd.read_csv(r'Data\normalisedtest.csv')
test_data = test_data.drop('Unnamed: 0',axis = 1)

In [165]:
test_data

,id,Feature 1,Feature 2,Feature 3,Feature 4,Feature 5,Feature 6,Feature 7,Feature 8,Feature 9,...,Feature 18,Feature 19,Feature 20,Feature 21,Feature 22,Feature 23,Feature 24,Feature 25,Feature 26,price
0,132523,0.181818,0,0,0,1,0,0,0,1,...,0,0,0,0,0.410256,0.333333,0.625907,0.598402,0.115335,TBC
1,70210,0.109091,0,0,1,0,0,0,1,0,...,0,0,0,0,0.512821,0.166667,0.550259,0.527473,0.104792,TBC
2,93051,0.245455,0,0,0,1,0,0,0,0,...,0,0,0,0,0.487179,0.433333,0.663212,0.634366,0.125240,TBC
3,67325,0.030303,0,0,0,0,1,0,0,0,...,0,0,1,0,0.553846,0.300000,0.441451,0.429570,0.085942,TBC
4,189522,0.009091,0,0,0,1,0,0,1,0,...,0,0,0,1,0.528205,0.300000,0.410363,0.397602,0.078914,TBC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58067,51474,0.242424,0,0,1,0,0,1,0,0,...,0,0,0,0,0.497436,0.233333,0.656995,0.647353,0.126518,TBC
58068,50296,0.160606,0,0,1,0,0,0,1,0,...,0,0,0,0,0.512821,0.266667,0.594819,0.576424,0.114377,TBC
58069,95077,0.272727,0,0,0,1,0,0,0,0,...,0,0,0,0,0.517949,0.300000,0.682902,0.653347,0.130351,TBC
58070,71500,0.215152,0,0,0,1,0,0,1,0,...,1,0,0,0,0.302564,0.366667,0.665285,0.634366,0.118530,TBC
58071,114675,0.154545,0,0,1,0,0,0,0,1,...,0,0,0,0,0.435897,0.233333,0.594819,0.576424,0.111502,TBC

In [166]:
test_data = test_data.drop('Feature 2',axis = 1)
test_data = test_data.drop('Feature 3',axis = 1)
test_data = test_data.drop('Feature 4',axis = 1)
test_data = test_data.drop('Feature 5',axis = 1)
test_data = test_data.drop('Feature 6',axis = 1)
test_data = test_data.drop('Feature 11',axis = 1)
test_data = test_data.drop('Feature 15',axis = 1)
test_data = test_data.drop('Feature 18',axis = 1)
test_data = test_data.drop('Feature 19',axis = 1)
test_data = test_data.drop('Feature 20',axis = 1)
test_data = test_data.drop('Feature 21',axis = 1)
#test_data = test_data.drop('Feature 23',axis = 1)

In [167]:
test_data

,id,Feature 1,Feature 7,Feature 8,Feature 9,Feature 10,Feature 12,Feature 13,Feature 14,Feature 16,Feature 17,Feature 22,Feature 23,Feature 24,Feature 25,Feature 26,price
0,132523,0.181818,0,0,1,0,0,0,0,1,0,0.410256,0.333333,0.625907,0.598402,0.115335,TBC
1,70210,0.109091,0,1,0,0,0,0,0,0,1,0.512821,0.166667,0.550259,0.527473,0.104792,TBC
2,93051,0.245455,0,0,0,0,0,0,0,1,0,0.487179,0.433333,0.663212,0.634366,0.125240,TBC
3,67325,0.030303,0,0,0,0,0,0,0,0,0,0.553846,0.300000,0.441451,0.429570,0.085942,TBC
4,189522,0.009091,0,1,0,0,0,0,0,0,0,0.528205,0.300000,0.410363,0.397602,0.078914,TBC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58067,51474,0.242424,1,0,0,0,0,0,0,0,1,0.497436,0.233333,0.656995,0.647353,0.126518,TBC
58068,50296,0.160606,0,1,0,0,0,0,0,1,0,0.512821,0.266667,0.594819,0.576424,0.114377,TBC
58069,95077,0.272727,0,0,0,0,0,0,0,1,0,0.517949,0.300000,0.682902,0.653347,0.130351,TBC
58070,71500,0.215152,0,1,0,0,0,0,0,0,0,0.302564,0.366667,0.665285,0.634366,0.118530,TBC
58071,114675,0.154545,0,0,1,0,0,0,0,0,1,0.435897,0.233333,0.594819,0.576424,0.111502,TBC

In [168]:
test_data_input = test_data.drop('price',axis = 1)

In [152]:
price_pred = rf.predict(test_data_input)

In [153]:
price_pred = pd.DataFrame({'id': test_data.id, 'Price': price_pred})

In [163]:
price_pred.to_csv('./Results/Result6.csv')