In [106]:
import numpy as np 
import pandas as pd 
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
import pickle

In [107]:
data = pd.read_csv("train.csv")

In [108]:
temp = data["Feature 2"].value_counts()/data['Feature 2'].count()*100

In [109]:
data

,Unnamed: 0,id,Feature 1,Feature 2,Feature 3,Feature 4,Feature 5,Feature 6,Feature 7,Feature 8,...,Feature 18,Feature 19,Feature 20,Feature 21,Feature 22,Feature 23,Feature 24,Feature 25,Feature 26,price
0,143728,143728,0.53,0,0,1,0,0,0,1,...,0,1,0,0,62.0,56.0,5.16,5.20,3.21,1656
1,52657,52657,0.50,0,1,0,0,0,0,0,...,0,0,0,0,63.8,56.0,4.89,5.02,3.18,1063
2,124407,124407,2.03,0,0,1,0,0,0,0,...,0,0,0,0,59.2,60.0,8.39,8.29,4.94,18508
3,45535,45535,0.33,0,0,1,0,0,0,1,...,0,1,0,0,61.5,55.0,4.41,4.47,2.73,723
4,178894,178894,0.90,0,1,0,0,0,0,0,...,0,1,0,0,63.6,59.0,6.04,6.08,3.86,3187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135496,34345,34345,0.70,0,1,0,0,0,1,0,...,0,0,0,0,63.3,57.0,5.65,5.61,3.56,2380
135497,9899,9899,0.33,0,0,1,0,0,0,0,...,0,0,0,0,62.6,57.0,4.43,4.40,2.77,693
135498,142454,142454,2.03,0,0,0,1,0,0,0,...,0,1,0,0,59.7,59.0,8.38,8.30,4.97,16068
135499,129168,129168,0.73,0,1,0,0,0,0,1,...,0,1,0,0,63.2,59.0,5.67,5.72,3.61,2964
135500,10470,10470,1.72,0,0,1,0,0,0,1,...,0,0,0,0,61.2,57.0,7.67,7.72,4.71,15847

In [110]:
pd.DataFrame(temp)

tempdict = {}

tempdict[0] = temp[0]
tempdict[1] = temp[1]

In [111]:
tempdict

{0: 98.97565331621169, 1: 1.0243466837883115}

In [112]:
scaler = MinMaxScaler()

data["Feature 1"] = scaler.fit_transform(np.array(data["Feature 1"]).reshape(-1,1))
data["Feature 22"] = scaler.fit_transform(np.array(data["Feature 22"]).reshape(-1,1))
data["Feature 23"] = scaler.fit_transform(np.array(data["Feature 23"]).reshape(-1,1))
data["Feature  24"] = scaler.fit_transform(np.array(data["Feature  24"]).reshape(-1,1))
data["Feature 25"] = scaler.fit_transform(np.array(data["Feature 25"]).reshape(-1,1))
data["Feature 26"] = scaler.fit_transform(np.array(data["Feature 26"]).reshape(-1,1))

In [113]:
for col in data.columns:
    unique_values = data[col].unique()
    if len(unique_values) == 2 and 0 in unique_values and 1 in unique_values:
        print(f"{col} contains only 0 and 1")

Feature 2 contains only 0 and 1
Feature 3 contains only 0 and 1
Feature 4 contains only 0 and 1
Feature 5 contains only 0 and 1
Feature 6 contains only 0 and 1
Feature 7 contains only 0 and 1
Feature 8 contains only 0 and 1
Feature 9 contains only 0 and 1
Feature 10 contains only 0 and 1
Feature 11 contains only 0 and 1
Feature 12 contains only 0 and 1
Feature 13 contains only 0 and 1
Feature 14 contains only 0 and 1
Feature 15 contains only 0 and 1
Feature 16 contains only 0 and 1
Feature 17 contains only 0 and 1
Feature 18 contains only 0 and 1
Feature 19 contains only 0 and 1
Feature 20 contains only 0 and 1
Feature 21 contains only 0 and 1

In [114]:
data

,Unnamed: 0,id,Feature 1,Feature 2,Feature 3,Feature 4,Feature 5,Feature 6,Feature 7,Feature 8,...,Feature 18,Feature 19,Feature 20,Feature 21,Feature 22,Feature 23,Feature 24,Feature 25,Feature 26,price
0,143728,143728,0.100000,0,0,1,0,0,0,1,...,0,1,0,0,0.492063,0.178571,0.534715,0.542231,0.382143,1656
1,52657,52657,0.090909,0,1,0,0,0,0,0,...,0,0,0,0,0.587302,0.178571,0.506736,0.523462,0.378571,1063
2,124407,124407,0.554545,0,0,1,0,0,0,0,...,0,0,0,0,0.343915,0.321429,0.869430,0.864442,0.588095,18508
3,45535,45535,0.039394,0,0,1,0,0,0,1,...,0,1,0,0,0.465608,0.142857,0.456995,0.466111,0.325000,723
4,178894,178894,0.212121,0,1,0,0,0,0,0,...,0,1,0,0,0.576720,0.285714,0.625907,0.633994,0.459524,3187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135496,34345,34345,0.151515,0,1,0,0,0,1,0,...,0,0,0,0,0.560847,0.214286,0.585492,0.584984,0.423810,2380
135497,9899,9899,0.039394,0,0,1,0,0,0,0,...,0,0,0,0,0.523810,0.214286,0.459067,0.458811,0.329762,693
135498,142454,142454,0.554545,0,0,0,1,0,0,0,...,0,1,0,0,0.370370,0.285714,0.868394,0.865485,0.591667,16068
135499,129168,129168,0.160606,0,1,0,0,0,0,1,...,0,1,0,0,0.555556,0.285714,0.587565,0.596455,0.429762,2964
135500,10470,10470,0.460606,0,0,1,0,0,0,1,...,0,0,0,0,0.449735,0.214286,0.794819,0.805005,0.560714,15847

In [115]:
target_variable = data["price"]

In [116]:
data_input = data.drop('price',axis=1)

In [117]:
data_input

,Unnamed: 0,id,Feature 1,Feature 2,Feature 3,Feature 4,Feature 5,Feature 6,Feature 7,Feature 8,...,Feature 17,Feature 18,Feature 19,Feature 20,Feature 21,Feature 22,Feature 23,Feature 24,Feature 25,Feature 26
0,143728,143728,0.100000,0,0,1,0,0,0,1,...,0,0,1,0,0,0.492063,0.178571,0.534715,0.542231,0.382143
1,52657,52657,0.090909,0,1,0,0,0,0,0,...,0,0,0,0,0,0.587302,0.178571,0.506736,0.523462,0.378571
2,124407,124407,0.554545,0,0,1,0,0,0,0,...,1,0,0,0,0,0.343915,0.321429,0.869430,0.864442,0.588095
3,45535,45535,0.039394,0,0,1,0,0,0,1,...,0,0,1,0,0,0.465608,0.142857,0.456995,0.466111,0.325000
4,178894,178894,0.212121,0,1,0,0,0,0,0,...,0,0,1,0,0,0.576720,0.285714,0.625907,0.633994,0.459524
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135496,34345,34345,0.151515,0,1,0,0,0,1,0,...,1,0,0,0,0,0.560847,0.214286,0.585492,0.584984,0.423810
135497,9899,9899,0.039394,0,0,1,0,0,0,0,...,0,0,0,0,0,0.523810,0.214286,0.459067,0.458811,0.329762
135498,142454,142454,0.554545,0,0,0,1,0,0,0,...,0,0,1,0,0,0.370370,0.285714,0.868394,0.865485,0.591667
135499,129168,129168,0.160606,0,1,0,0,0,0,1,...,0,0,1,0,0,0.555556,0.285714,0.587565,0.596455,0.429762
135500,10470,10470,0.460606,0,0,1,0,0,0,1,...,0,0,0,0,0,0.449735,0.214286,0.794819,0.805005,0.560714

In [118]:
X_train ,X_test,y_train,y_test = train_test_split(data_input,target_variable, test_size=0.2, random_state=42)

In [119]:

rf = RandomForestRegressor(n_estimators = 400, max_features = 'sqrt', max_depth = 5, random_state = 18)

In [120]:
rf.fit(X_train, y_train)

RandomForestRegressor(max_depth=5, max_features='sqrt', n_estimators=400,
                      random_state=18)

In [121]:
y_pred = rf.predict(X_test)

In [122]:
data_output = pd.DataFrame(y_pred,y_test)
data_output

                 0
price
1412   1585.389221
2027   1550.989516
2397   2319.347508
4969   5667.113033
5887   5556.616734
...            ...
625    1118.878822
3927   4045.436202
405    1134.843664
1186   1158.330375
1220   1444.096354

[27101 rows x 1 columns]

In [126]:
with_feature1 = {}

with_feature1['Mean Absolute Error:'] =  metrics.mean_absolute_error(y_test, y_pred)  
with_feature1['Mean Squared Error:'] =  metrics.mean_squared_error(y_test, y_pred) 
with_feature1['Root Mean Squared Error:'] = np.sqrt(metrics.mean_squared_error(y_test, y_pred))

In [127]:
with_feature1

{'Mean Absolute Error:': 666.7525398753075,
 'Mean Squared Error:': 1104096.0249620087,
 'Root Mean Squared Error:': 1050.7597370293595}

In [123]:
rf.score(X_test, y_test)

0.9318188967997731

In [129]:
#filename = 'mymodel.sav'
#pickle.dump(rf, open(filename, 'wb'))