In [8]:
import numpy as np 
import pandas as pd 
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
import pickle

In [9]:
data = pd.read_csv("train.csv")

In [10]:
temp = data["Feature 2"].value_counts()/data['Feature 2'].count()*100

In [11]:
scaler = MinMaxScaler()
data["Feature 1"] = scaler.fit_transform(np.array(data["Feature 1"]).reshape(-1,1))
data["Feature 22"] = scaler.fit_transform(np.array(data["Feature 22"]).reshape(-1,1))
data["Feature 23"] = scaler.fit_transform(np.array(data["Feature 23"]).reshape(-1,1))
data["Feature  24"] = scaler.fit_transform(np.array(data["Feature  24"]).reshape(-1,1))
data["Feature 25"] = scaler.fit_transform(np.array(data["Feature 25"]).reshape(-1,1))
data["Feature 26"] = scaler.fit_transform(np.array(data["Feature 26"]).reshape(-1,1))

In [12]:
for col in data.columns:
    unique_values = data[col].unique()
    if len(unique_values) == 2 and 0 in unique_values and 1 in unique_values:
        print(f"{col} contains only 0 and 1")

Feature 2 contains only 0 and 1
Feature 3 contains only 0 and 1
Feature 4 contains only 0 and 1
Feature 5 contains only 0 and 1
Feature 6 contains only 0 and 1
Feature 7 contains only 0 and 1
Feature 8 contains only 0 and 1
Feature 9 contains only 0 and 1
Feature 10 contains only 0 and 1
Feature 11 contains only 0 and 1
Feature 12 contains only 0 and 1
Feature 13 contains only 0 and 1
Feature 14 contains only 0 and 1
Feature 15 contains only 0 and 1
Feature 16 contains only 0 and 1
Feature 17 contains only 0 and 1
Feature 18 contains only 0 and 1
Feature 19 contains only 0 and 1
Feature 20 contains only 0 and 1
Feature 21 contains only 0 and 1

In [13]:
target_variable = data["price"]

In [14]:
data_input = data.drop('price',axis=1)

In [ ]:
### initialize hits counter
hits = np.zeros((len(data_input.columns)))
### repeat 20 times
for iter_ in range(20):
   ### make X_shadow by randomly permuting each column of X
   np.random.seed(iter_)
   X_shadow = data_input.apply(np.random.permutation)
   X_boruta = pd.concat([data_input, X_shadow], axis = 1)
   ### fit a random forest (suggested max_depth between 3 and 7)
   rf = RandomForestRegressor(max_depth = 5, random_state = 42)
   rf.fit(X_boruta, target_variable)
   ### store feature importance
   feat_imp_X = rf.feature_importances_[:len(data_input.columns)]
   feat_imp_shadow = rf.feature_importances_[len(data_input.columns):]
   ### compute hits for this trial and add to counter
   hits += (feat_imp_X > feat_imp_shadow.max())

In [16]:
hits = np.array([ 0.,  0., 20.,  0.,  0.,  0.,  0.,  0., 20., 20., 20., 20.,  0.,
       20., 20., 19.,  0., 20., 20.,  0.,  0.,  0.,  0., 20.,  0., 20.,
       20., 20.])

20.0

In [65]:
col = data_input.columns
a = len(data_input.columns)
for i in range(2,a):
    if (hits[i] == 0):
        print(col[i])
        data_input = data_input.drop(col[i],axis = 1)

Feature 2
Feature 3
Feature 4
Feature 5
Feature 6
Feature 11
Feature 15
Feature 18
Feature 19
Feature 20
Feature 21
Feature 23

In [66]:
data_input

,Unnamed: 0,id,Feature 1,Feature 7,Feature 8,Feature 9,Feature 10,Feature 12,Feature 13,Feature 14,Feature 16,Feature 17,Feature 22,Feature 24,Feature 25,Feature 26
0,143728,143728,0.100000,0,1,0,0,0,0,0,0,0,0.492063,0.534715,0.542231,0.382143
1,52657,52657,0.090909,0,0,0,0,0,1,0,1,0,0.587302,0.506736,0.523462,0.378571
2,124407,124407,0.554545,0,0,0,1,0,0,0,0,1,0.343915,0.869430,0.864442,0.588095
3,45535,45535,0.039394,0,1,0,0,0,0,0,0,0,0.465608,0.456995,0.466111,0.325000
4,178894,178894,0.212121,0,0,0,0,1,0,0,0,0,0.576720,0.625907,0.633994,0.459524
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135496,34345,34345,0.151515,1,0,0,0,0,0,0,0,1,0.560847,0.585492,0.584984,0.423810
135497,9899,9899,0.039394,0,0,0,0,1,0,0,0,0,0.523810,0.459067,0.458811,0.329762
135498,142454,142454,0.554545,0,0,0,0,1,0,0,0,0,0.370370,0.868394,0.865485,0.591667
135499,129168,129168,0.160606,0,1,0,0,0,0,0,0,0,0.555556,0.587565,0.596455,0.429762
135500,10470,10470,0.460606,0,1,0,0,0,0,0,1,0,0.449735,0.794819,0.805005,0.560714

In [67]:
X_train ,X_test,y_train,y_test = train_test_split(data_input,target_variable, test_size=0.2, random_state=42)

In [68]:
rf = RandomForestRegressor(n_estimators = 400, max_features = 'sqrt', max_depth = 5, random_state = 18)

In [69]:
rf.fit(X_train, y_train)

RandomForestRegressor(max_depth=5, max_features='sqrt', n_estimators=400,
                      random_state=18)

In [70]:
y_pred = rf.predict(X_test)

In [71]:
with_burata = {}

with_burata['Mean Absolute Error:'] =  metrics.mean_absolute_error(y_test, y_pred)  
with_burata['Mean Squared Error:'] =  metrics.mean_squared_error(y_test, y_pred) 
with_burata['Root Mean Squared Error:'] = np.sqrt(metrics.mean_squared_error(y_test, y_pred))

In [72]:
with_burata

{'Mean Absolute Error:': 583.1635403914961,
 'Mean Squared Error:': 993831.2334876463,
 'Root Mean Squared Error:': 996.9108453054598}

In [73]:
rf.score(X_test, y_test)

0.9386280646229466

In [74]:
data_output = pd.DataFrame(y_pred,y_test)
data_output

                 0
price
1412   1729.868689
2027   1650.850878
2397   2371.202722
4969   5655.648806
5887   5970.299771
...            ...
625     854.301915
3927   3969.366767
405     888.844750
1186    986.693475
1220   1444.207662

[27101 rows x 1 columns]