In [2]:
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# scaling and train test split
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

# creating a model
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation
from tensorflow.keras.optimizers import Adam
import keras
# evaluation on test data
from sklearn.metrics import mean_squared_error,mean_absolute_error,explained_variance_score
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [3]:
train_data = pd.read_csv(r"Data\master3.csv")
test_data = pd.read_csv(r"Data\test_data3.csv")

In [4]:
train_data

,id,Feature 1,Feature 2,Feature 3,Feature 4,Feature 5,Feature 6,Feature 7,Feature 8,Feature 9,...,Feature 23,Feature 24,Feature 25,Feature 26,price,price2,price3,Feature 26.1,Feature 24.1,Feature 25.1
0,143728,0.53,0,0,1,0,0,0,1,0,...,56.0,5.16,5.20,3.21,1656,3124.528302,5895.336419,6.056604,9.735849,9.811321
1,52657,0.50,0,1,0,0,0,0,0,0,...,56.0,4.89,5.02,3.18,1063,2126.000000,4252.000000,6.360000,9.780000,10.040000
2,124407,2.03,0,0,1,0,0,0,0,0,...,60.0,8.39,8.29,4.94,18508,9117.241379,4491.251911,2.433498,4.133005,4.083744
3,45535,0.33,0,0,1,0,0,0,1,0,...,55.0,4.41,4.47,2.73,723,2190.909091,6639.118457,8.272727,13.363636,13.545455
4,178894,0.90,0,1,0,0,0,0,0,0,...,59.0,6.04,6.08,3.86,3187,3541.111111,3934.567901,4.288889,6.711111,6.755556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161137,26963,1.11,0,0,0,1,0,0,0,0,...,58.0,6.61,6.52,4.09,5408,4872.072072,4389.254119,3.684685,5.954955,5.873874
161138,26964,0.33,0,0,1,0,0,0,0,0,...,55.0,4.44,4.42,2.74,1114,3375.757576,10229.568411,8.303030,13.454545,13.393939
161139,26965,0.51,0,0,0,1,0,0,1,0,...,58.0,5.12,5.15,3.17,1656,3247.058824,6366.782007,6.215686,10.039216,10.098039
161140,26966,0.27,0,0,0,0,1,0,0,1,...,56.0,4.19,4.20,2.60,682,2525.925926,9355.281207,9.629630,15.518519,15.555556
161141,26967,1.25,0,0,0,1,0,0,0,0,...,58.0,6.90,6.88,4.27,5166,4132.800000,3306.240000,3.416000,5.520000,5.504000

In [5]:
test_data

,Unnamed: 0,id,Feature 1,Feature 2,Feature 3,Feature 4,Feature 5,Feature 6,Feature 7,Feature 8,...,Feature 20,Feature 21,Feature 22,Feature 23,Feature 24,Feature 25,Feature 26,Feature 26.1,Feature 24.1,Feature 25.1
0,132523,132523,0.80,0,0,0,1,0,0,0,...,0,0,60.1,59.0,6.04,5.99,3.61,4.512500,7.550000,7.487500
1,70210,70210,0.56,0,0,1,0,0,0,1,...,0,0,62.1,54.0,5.31,5.28,3.28,5.857143,9.482143,9.428571
2,93051,93051,1.01,0,0,0,1,0,0,0,...,0,0,61.6,62.0,6.40,6.35,3.92,3.881188,6.336634,6.287129
3,67325,67325,0.30,0,0,0,0,1,0,0,...,1,0,62.9,58.0,4.26,4.30,2.69,8.966667,14.200000,14.333333
4,189522,189522,0.23,0,0,0,1,0,0,1,...,0,1,62.4,58.0,3.96,3.98,2.47,10.739130,17.217391,17.304348
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58067,51474,51474,1.00,0,0,1,0,0,1,0,...,0,0,61.8,56.0,6.34,6.48,3.96,3.960000,6.340000,6.480000
58068,50296,50296,0.73,0,0,1,0,0,0,1,...,0,0,62.1,57.0,5.74,5.77,3.58,4.904110,7.863014,7.904110
58069,95077,95077,1.10,0,0,0,1,0,0,0,...,0,0,62.2,58.0,6.59,6.54,4.08,3.709091,5.990909,5.945455
58070,71500,71500,0.91,0,0,0,1,0,0,1,...,0,0,58.0,60.0,6.42,6.35,3.71,4.076923,7.054945,6.978022
58071,114675,114675,0.71,0,0,1,0,0,0,0,...,0,0,60.6,56.0,5.74,5.77,3.49,4.915493,8.084507,8.126761

In [6]:
train_data

,id,Feature 1,Feature 2,Feature 3,Feature 4,Feature 5,Feature 6,Feature 7,Feature 8,Feature 9,...,Feature 23,Feature 24,Feature 25,Feature 26,price,price2,price3,Feature 26.1,Feature 24.1,Feature 25.1
0,143728,0.53,0,0,1,0,0,0,1,0,...,56.0,5.16,5.20,3.21,1656,3124.528302,5895.336419,6.056604,9.735849,9.811321
1,52657,0.50,0,1,0,0,0,0,0,0,...,56.0,4.89,5.02,3.18,1063,2126.000000,4252.000000,6.360000,9.780000,10.040000
2,124407,2.03,0,0,1,0,0,0,0,0,...,60.0,8.39,8.29,4.94,18508,9117.241379,4491.251911,2.433498,4.133005,4.083744
3,45535,0.33,0,0,1,0,0,0,1,0,...,55.0,4.41,4.47,2.73,723,2190.909091,6639.118457,8.272727,13.363636,13.545455
4,178894,0.90,0,1,0,0,0,0,0,0,...,59.0,6.04,6.08,3.86,3187,3541.111111,3934.567901,4.288889,6.711111,6.755556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161137,26963,1.11,0,0,0,1,0,0,0,0,...,58.0,6.61,6.52,4.09,5408,4872.072072,4389.254119,3.684685,5.954955,5.873874
161138,26964,0.33,0,0,1,0,0,0,0,0,...,55.0,4.44,4.42,2.74,1114,3375.757576,10229.568411,8.303030,13.454545,13.393939
161139,26965,0.51,0,0,0,1,0,0,1,0,...,58.0,5.12,5.15,3.17,1656,3247.058824,6366.782007,6.215686,10.039216,10.098039
161140,26966,0.27,0,0,0,0,1,0,0,1,...,56.0,4.19,4.20,2.60,682,2525.925926,9355.281207,9.629630,15.518519,15.555556
161141,26967,1.25,0,0,0,1,0,0,0,0,...,58.0,6.90,6.88,4.27,5166,4132.800000,3306.240000,3.416000,5.520000,5.504000

In [7]:
col = list(train_data.columns)
#col.remove('Unnamed: 0')
#col.remove('Unnamed: 0.1')
#col.remove('Unnamed: 0.2')
col.remove('id')
col.remove('price')
col.remove('price2')
col.remove('price3')
#col.remove('bin')
#col.remove('Feature 2')
#col.remove('Feature 3')
#col.remove('Feature 4')
#col.remove('Feature 5')
#col.remove('Feature 6')
#col.remove('Feature 11')
#col.remove('Feature 15')
#col.remove('Feature 18')
#col.remove('Feature 19')
#col.remove('Feature 20')
#col.remove('Feature 21')
col

['Feature 1',
 'Feature 2',
 'Feature 3',
 'Feature 4',
 'Feature 5',
 'Feature 6',
 'Feature 7',
 'Feature 8',
 'Feature 9',
 'Feature 10',
 'Feature 11',
 'Feature 12',
 'Feature 13',
 'Feature 14',
 'Feature 15',
 'Feature 16',
 'Feature 17',
 'Feature 18',
 'Feature 19',
 'Feature 20',
 'Feature 21',
 'Feature 22',
 'Feature 23',
 'Feature  24',
 'Feature 25',
 'Feature 26',
 'Feature 26.1',
 'Feature 24.1',
 'Feature 25.1']

In [8]:
train_data['train-test'] = "train"
test_data['train-test'] = "test"

In [9]:
combined_df = pd.concat([train_data,test_data]).fillna('TBC')

In [10]:
scaler = MinMaxScaler()

#combined_df["Feature 1"] = scaler.fit_transform(np.array(combined_df["Feature 1"]).reshape(-1,1))
combined_df["Feature 22"] = scaler.fit_transform(np.array(combined_df["Feature 22"]).reshape(-1,1))
combined_df["Feature 23"] = scaler.fit_transform(np.array(combined_df["Feature 23"]).reshape(-1,1))
combined_df["Feature  24"] = scaler.fit_transform(np.array(combined_df["Feature  24"]).reshape(-1,1))
combined_df["Feature 25"] = scaler.fit_transform(np.array(combined_df["Feature 25"]).reshape(-1,1))
combined_df["Feature 26"] = scaler.fit_transform(np.array(combined_df["Feature 26"]).reshape(-1,1))
combined_df["Feature 24.1"] = scaler.fit_transform(np.array(combined_df["Feature  24"]).reshape(-1,1))
combined_df["Feature 25.1"] = scaler.fit_transform(np.array(combined_df["Feature 25"]).reshape(-1,1))
combined_df["Feature 26.1"] = scaler.fit_transform(np.array(combined_df["Feature 26"]).reshape(-1,1))

In [11]:
df_group = combined_df.groupby(['train-test'])
train_data = df_group.get_group('train')
test_data = df_group.get_group('test')

In [12]:
train_data.min()

id                       0
Feature 1              0.2
Feature 2                0
Feature 3                0
Feature 4                0
Feature 5                0
Feature 6                0
Feature 7                0
Feature 8                0
Feature 9                0
Feature 10               0
Feature 11               0
Feature 12               0
Feature 13               0
Feature 14               0
Feature 15               0
Feature 16               0
Feature 17               0
Feature 18               0
Feature 19               0
Feature 20               0
Feature 21               0
Feature 22             0.0
Feature 23             0.0
Feature  24            0.0
Feature 25             0.0
Feature 26             0.0
price                326.0
price2          938.095238
price3          1759.80975
Feature 26.1           0.0
Feature 24.1           0.0
Feature 25.1           0.0
train-test           train
Unnamed: 0             TBC
dtype: object

In [13]:
train_data = train_data.drop('train-test',axis=1)
test_data = test_data.drop('train-test',axis=1)

In [14]:
test_data = test_data.drop('price',axis = 1)

In [15]:
train_data_input = train_data[col]
train_data_target = train_data['price2']

train_data_target_min = train_data_target.min()
train_data_target_max = train_data_target.max()
train_data_target_norm = (train_data_target - train_data_target_min) / (train_data_target_max - train_data_target_min)

In [14]:
X_train ,X_test,y_train,y_test = train_test_split(train_data_input.astype(float),train_data_target_norm.astype(float), test_size=0.2, random_state=42)

In [15]:
model = Sequential()

# input layer
model.add(Dense(26,activation='relu'))

# hidden layers
model.add(Dense(32,activation='relu'))
model.add(Dense(64,activation='relu'))
model.add(Dense(32,activation='relu'))
model.add(Dense(16,activation='relu'))
model.add(Dense(8,activation='relu'))
model.add(Dense(4,activation='relu'))



# output layer
model.add(Dense(1,activation='relu'))

model.compile(optimizer='adam',loss='mse')

In [16]:
model = keras.Sequential([
    keras.layers.Dense(128, activation='relu', input_dim=X_train.shape[1]),
    keras.layers.Dense(64, activation='relu'),
    keras.layers.Dense(32, activation='relu'),
    keras.layers.Dense(1)
])

# Compile the model
model.compile(optimizer='adam', loss='mse')

# Train the model
model.fit(X_train, y_train, batch_size=128, epochs=10)

# Evaluate the model
mse = model.evaluate(X_test, y_test)
print("Mean squared error:", mse)

Epoch 1/10
1008/1008 [==============================] - 2s 2ms/step - loss: 0.0049
Epoch 2/10
1008/1008 [==============================] - 1s 1ms/step - loss: 0.0024
Epoch 3/10
1008/1008 [==============================] - 1s 999us/step - loss: 0.0023
Epoch 4/10
1008/1008 [==============================] - 1s 999us/step - loss: 0.0022
Epoch 5/10
1008/1008 [==============================] - 1s 998us/step - loss: 0.0022
Epoch 6/10
1008/1008 [==============================] - 1s 1ms/step - loss: 0.0021
Epoch 7/10
1008/1008 [==============================] - 1s 968us/step - loss: 0.0021
Epoch 8/10
1008/1008 [==============================] - 1s 969us/step - loss: 0.0021
Epoch 9/10
1008/1008 [==============================] - 1s 961us/step - loss: 0.0021
Epoch 10/10
1008/1008 [==============================] - 1s 960us/step - loss: 0.0020
1008/1008 [==============================] - 1s 785us/step - loss: 0.0020
Mean squared error: 0.0020412628073245287

In [17]:
y_pred = model.predict(X_test)

1008/1008 [==============================] - 1s 983us/step

In [18]:
error = {}

error['Mean Absolute Error:'] =  mean_absolute_error(y_test, y_pred)  
error['Mean Squared Error:'] =  mean_squared_error(y_test, y_pred) 
error['Root Mean Squared Error:'] = np.sqrt(mean_squared_error(y_test, y_pred))

In [19]:
error

{'Mean Absolute Error:': 0.03182192131896503,
 'Mean Squared Error:': 0.0020412616870963975,
 'Root Mean Squared Error:': 0.04518032411455674}

In [133]:
#from xgboost import XGBRegressor

In [134]:
#xg = XGBRegressor(n_estimators=500, learning_rate=0.05,subsample = 0.9)

In [20]:
#train_data_bin_1 = train_data.loc[train_data['bin'] == 1]
train_data_input = train_data[col]
train_data_target = train_data['price2']

In [21]:
train_data_input

,Feature 1,Feature 2,Feature 3,Feature 4,Feature 5,Feature 6,Feature 7,Feature 8,Feature 9,Feature 10,...,Feature 20,Feature 21,Feature 22,Feature 23,Feature 24,Feature 25,Feature 26,Feature 26.1,Feature 24.1,Feature 25.1
0,0.53,0,0,1,0,0,0,1,0,0,...,0,0,0.491228,0.233333,0.542587,0.088285,0.102556,0.102556,0.542587,0.088285
1,0.50,0,1,0,0,0,0,0,0,0,...,0,0,0.570175,0.233333,0.514196,0.085229,0.101597,0.101597,0.514196,0.085229
2,2.03,0,0,1,0,0,0,0,0,1,...,0,0,0.368421,0.366667,0.882229,0.140747,0.157827,0.157827,0.882229,0.140747
3,0.33,0,0,1,0,0,0,1,0,0,...,0,0,0.469298,0.200000,0.463722,0.075891,0.087220,0.087220,0.463722,0.075891
4,0.90,0,1,0,0,0,0,0,0,0,...,0,0,0.561404,0.333333,0.635121,0.103226,0.123323,0.123323,0.635121,0.103226
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161137,1.11,0,0,0,1,0,0,0,0,1,...,0,0,0.504386,0.300000,0.695058,0.110696,0.130671,0.130671,0.695058,0.110696
161138,0.33,0,0,1,0,0,0,0,0,0,...,0,0,0.486842,0.200000,0.466877,0.075042,0.087540,0.087540,0.466877,0.075042
161139,0.51,0,0,0,1,0,0,1,0,0,...,0,0,0.478070,0.300000,0.538381,0.087436,0.101278,0.101278,0.538381,0.087436
161140,0.27,0,0,0,0,1,0,0,1,0,...,0,1,0.482456,0.233333,0.440589,0.071307,0.083067,0.083067,0.440589,0.071307
161141,1.25,0,0,0,1,0,0,0,0,0,...,0,0,0.491228,0.300000,0.725552,0.116808,0.136422,0.136422,0.725552,0.116808

In [27]:
X_train ,X_test,y_train,y_test = train_test_split(train_data_input,train_data_target, test_size=0.2, random_state=42)

In [28]:
X_train = X_train.astype('float32')
y_train = y_train.astype('float32')
X_test = X_test.astype('float32')
y_test = y_test.astype('float32')

In [29]:
X_train.min()

Feature 1      0.2
Feature 2      0.0
Feature 3      0.0
Feature 4      0.0
Feature 5      0.0
Feature 6      0.0
Feature 7      0.0
Feature 8      0.0
Feature 9      0.0
Feature 10     0.0
Feature 11     0.0
Feature 12     0.0
Feature 13     0.0
Feature 14     0.0
Feature 15     0.0
Feature 16     0.0
Feature 17     0.0
Feature 18     0.0
Feature 19     0.0
Feature 20     0.0
Feature 21     0.0
Feature 22     0.0
Feature 23     0.0
Feature  24    0.0
Feature 25     0.0
Feature 26     0.0
dtype: float32

In [30]:
model.fit(x=X_train,y=y_train.values,
          validation_data=(X_test,y_test.values),
          batch_size=128,epochs=500)

4029/4029 [==============================] - 5s 889us/step - loss: 1029812.1250

In [21]:
y_pred = model.predict(X_test)

In [22]:
temp = X_test['Feature 1']
y_pred =  y_pred * temp.apply(lambda x : x) 
y_test =  y_test * temp.apply(lambda x : x)

In [23]:
X_test

,Feature 1,Feature 2,Feature 3,Feature 4,Feature 5,Feature 6,Feature 7,Feature 8,Feature 9,Feature 10,...,Feature 17,Feature 18,Feature 19,Feature 20,Feature 21,Feature 22,Feature 23,Feature 24,Feature 25,Feature 26
125722,0.91,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0.578947,0.166667,0.639327,0.102547,0.124601
136029,0.70,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0.557018,0.233333,0.587802,0.095586,0.113738
18850,0.51,0,0,1,0,0,1,0,0,0,...,0,0,1,0,0,0.513158,0.266667,0.535226,0.087267,0.101917
9636,1.04,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0.508772,0.300000,0.682440,0.109677,0.129073
112227,0.30,0,0,1,0,0,1,0,0,0,...,0,0,0,0,1,0.526316,0.266667,0.449001,0.073005,0.085942
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152844,0.70,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0.456140,0.266667,0.598318,0.097114,0.111502
142162,1.00,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0.486842,0.300000,0.662461,0.108149,0.125240
69437,0.33,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0.442982,0.266667,0.471083,0.075552,0.086901
83075,0.30,0,0,1,0,0,1,0,0,0,...,0,0,1,0,0,0.495614,0.200000,0.455310,0.073854,0.085942
127773,0.40,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0.491228,0.300000,0.493165,0.080136,0.093291

In [24]:
temp

125722    0.91
136029    0.70
18850     0.51
9636      1.04
112227    0.30
          ...
152844    0.70
142162    1.00
69437     0.33
83075     0.30
127773    0.40
Name: Feature 1, Length: 32229, dtype: float64

In [25]:
y_test

125722    3615.0
136029    1675.0
18850     1695.0
9636      4423.0
112227     662.0
           ...
152844    2947.0
142162    4953.0
69437     1124.0
83075      670.0
127773     807.0
Length: 32229, dtype: object

In [26]:
y_pred

125722    3695.672627
136029    1897.763403
18850     1778.901416
9636      4285.603867
112227     805.243066
             ...
152844    2943.401562
142162    4487.371094
69437     1021.877549
83075      745.616382
127773     766.403809
Name: Feature 1, Length: 32229, dtype: float64

In [27]:
error = {}

error['Mean Absolute Error:'] =  metrics.mean_absolute_error(y_test, y_pred)  
error['Mean Squared Error:'] =  metrics.mean_squared_error(y_test, y_pred) 
error['Root Mean Squared Error:'] = np.sqrt(metrics.mean_squared_error(y_test, y_pred))

In [28]:
error

{'Mean Absolute Error:': 285.9973353531351,
 'Mean Squared Error:': 308633.6376596431,
 'Root Mean Squared Error:': 555.5480516207784}

In [37]:
xg = XGBRegressor(n_estimators=300, learning_rate=0.05,subsample = 0.75)

In [22]:

train_data_input = train_data[col]
train_data_target = train_data['price2']

In [23]:
test_data_input = test_data[col]
#train_data_target = train_data['price2']

In [ ]:
model = keras.Sequential([
    keras.layers.Dense(256, activation='tanh', input_dim=train_data_input.shape[1]),
    keras.layers.Dense(128, activation='relu'),
    keras.layers.Dropout(0.2),
    keras.layers.Dense(64, activation='relu'),
    keras.layers.Dense(32, activation='relu'),
    keras.layers.Dense(1)
])

# Compile the model
model.compile(optimizer='adam', loss='mse')

# Train the model
model.fit(train_data_input.astype(float),train_data_target_norm.astype(float), batch_size=512, epochs=200)

# Evaluate the model
#mse = model.evaluate(X_test, y_test)
#print("Mean squared error:", mse)

In [192]:
test_data_input

,Feature 1,Feature 2,Feature 3,Feature 4,Feature 5,Feature 6,Feature 7,Feature 8,Feature 9,Feature 10,...,Feature 17,Feature 18,Feature 19,Feature 20,Feature 21,Feature 22,Feature 23,Feature 24,Feature 25,Feature 26
0,0.80,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0.407895,0.333333,0.635121,0.101698,0.115335
1,0.56,0,0,1,0,0,0,1,0,0,...,1,0,0,0,0,0.495614,0.166667,0.558360,0.089643,0.104792
2,1.01,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0.473684,0.433333,0.672976,0.107810,0.125240
3,0.30,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0.530702,0.300000,0.447950,0.073005,0.085942
4,0.23,0,0,0,1,0,0,1,0,0,...,0,0,0,0,1,0.508772,0.300000,0.416404,0.067572,0.078914
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58067,1.00,0,0,1,0,0,1,0,0,0,...,1,0,0,0,0,0.482456,0.233333,0.666667,0.110017,0.126518
58068,0.73,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0.495614,0.266667,0.603575,0.097963,0.114377
58069,1.10,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0.500000,0.300000,0.692955,0.111036,0.130351
58070,0.91,0,0,0,1,0,0,1,0,0,...,0,1,0,0,0,0.315789,0.366667,0.675079,0.107810,0.118530
58071,0.71,0,0,1,0,0,0,0,1,0,...,1,0,0,0,0,0.429825,0.233333,0.603575,0.097963,0.111502

In [193]:
y_pred = model.predict(test_data_input.astype(float))

1815/1815 [==============================] - 2s 804us/step

In [194]:
y_pred2 = y_pred.reshape(y_pred.shape[0])

In [195]:
y_pred_denorm = y_pred2 * (train_data_target_max - train_data_target_min) + (train_data_target_min)

In [196]:
y_pred_denorm.shape

(58072,)

In [197]:
temp = test_data_input['Feature 1']
y_pred =  y_pred_denorm * temp.apply(lambda x : x)

In [198]:
price_pred = pd.DataFrame({'id': test_data.id, 'Price': y_pred})

In [199]:
price_pred.to_csv('./Results/Result24_xg_norm_trainp2_master2_ann2.csv',index=False)